* {
  box-sizing: border-box;
}

button {
  border: none;
  background: transparent;
}

body {
  padding-bottom: 50px;
  background: #fafbff;
  font-family: Montserrat;
  height: 100%;
}

#listGroup {
  z-index: 5;
  max-height: 50vh;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0143771), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0119221), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.01), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.00807786), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.00562291);
  overflow-y: scroll;
  transition: all 0.5s ease-in-out;
  position: sticky;
  background: white;
  top: 56px;
  margin-top: -10px;
  margin-bottom: 5px;
}
#listGroup a {
  justify-content: space-between;
  cursor: pointer;
}
#listGroup a ~ button {
  outline: none;
}

.card-title {
  margin-top: 20px;
  font-weight: 600;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0143771), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0119221), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.01), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.00807786), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.00562291);
}
.card:hover {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0143771), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0119221), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.01), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.00807786), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.00562291);
}
.card:hover img {
  height: 162px;
  transition: 500ms;
}
.card:hover .card-text {
  transition: 500ms;
  margin-bottom: 6px;
}

.card-text {
  transition: 500ms;
}

.price,
#totalPrice {
  color: #007bff;
}

.card img {
  height: 150px;
  object-fit: cover;
  transition: 500ms;
}

#ModalToHistory {
  max-height: 90vh;
}

#Warn,
#modalWarn {
  display: none;
  background: #ffbebe;
  border-radius: 5px;
  color: #000258;
}

#addListForm {
  display: none;
  background: #f1f6f7;
  border-radius: 5px;
  margin-bottom: 10px;
}
#addListForm div {
  display: flex;
}
#addListForm input {
  border: none;
  background: transparent;
  outline: none;
  padding-left: 10px;
  width: 80%;
}
#addListForm button {
  margin-left: auto;
  width: 20%;
}

#addCardDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logOut {
  position: fixed;
  z-index: 1000;
  bottom: 2%;
  left: 2%;
  border-radius: 50%;
  padding: 8px 13px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0143771), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0119221), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.01), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.00807786), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.00562291);
}

#addCardM {
  position: fixed;
  z-index: 1000;
  bottom: 2%;
  font-size: 40px;
  line-height: 20px;
  height: 42px;
  right: 2%;
  border-radius: 50%;
  padding: 0px 10px 0px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0143771), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0119221), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.01), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.00807786), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.00562291);
}

#signHTML {
  position: fixed;
  top: 1%;
}

#newCardBtn {
  position: fixed;
  z-index: 1000;
  bottom: 2%;
  right: 2%;
  border-radius: 50%;
  padding: 0px 14px 9px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0143771), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0119221), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.01), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.00807786), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.00562291);
  height: 44px;
  font-size: 2rem;
  line-height: 1px;
}

.remuve {
  color: #6696ff;
  position: absolute;
  left: 15px;
  bottom: 10px;
  height: 24px;
  padding: 0px 2px 0px 0px;
  width: 20px;
  border: none;
}
.remuve:hover {
  background: transparent;
  color: #e90000;
}

.edit {
  color: #6696ff;
  position: absolute;
  left: 40px;
  bottom: 10px;
  height: 24px;
  padding: 0px 2px 0px 0px;
  width: 24px;
  border: none;
}
.edit:hover {
  color: orange;
  background: transparent;
}

.add {
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 30px;
  padding: 0px 2px 0px 0px;
  width: 120px;
  border: none;
}

.card-body {
  padding: 0.25rem 0.25rem 50px 18px;
  position: relative;
  padding-bottom: 50px;
  text-align: left;
}
.card-body .price {
  position: absolute;
  top: 0;
  background: #6696ff;
  color: #ffffff;
  border-radius: 5px;
  transform: translateY(-50%);
  padding: 3px 12px;
}

.flex1 {
  flex: 1;
  max-width: 100%;
}

@keyframes messageDis {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
#leftNav {
  z-index: 10;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0143771), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0119221), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.01), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.00807786), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.00562291);
  position: sticky;
  top: 0;
  font-size: 20px;
}

#searchForm {
  width: 100%;
  background: #f1f6f7;
  border-radius: 5px;
}
#searchForm input {
  width: 90%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 18px;
}
#searchForm button {
  color: #657482;
  margin-right: 10px;
  padding-top: 5px;
}

#userImg {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0px;
}

.orderSection {
  padding: 0;
  max-height: 50vh;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0143771), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0119221), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.01), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.00807786), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.00562291);
  overflow-y: scroll;
  position: fixed;
  top: 48px;
  right: 0;
  width: 400px;
}
.orderSection #orderHeader {
  max-height: 50px;
  font-size: 20px;
  background: #ffffff;
  position: sticky;
  top: 0;
  z-index: 12;
}
.orderSection #orderList {
  background: #ffffff;
}
.orderSection .list-group div {
  width: 50%;
}
.orderSection .info {
  text-align: left;
}
.orderSection .lightBtn {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: #cdd8dd;
  padding: 0;
  font-size: 20px;
  border-radius: 2px;
}
.orderSection .cardQty {
  max-width: 50px;
  height: 30px;
  border: 0.8px solid #cdd8dd;
  border-radius: 2px;
  font-size: 20px;
  text-align: center;
}
.orderSection input[type=number]::-webkit-inner-spin-button,
.orderSection input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.orderSection #orderFooter {
  position: sticky;
  bottom: 0;
  background: white;
  border-top: 0.8px solid #e7e7e7;
}
.orderSection #orderFooter .buyGrid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto auto auto auto;
}
.orderSection #orderFooter button {
  background: #cdd8dd;
  border-radius: 5px;
  width: 100%;
}
.orderSection #orderFooter .bg-primary {
  grid-column: 4/7;
  color: white;
}

#orderTime {
  background: #f1f6f7;
  border-radius: 4px;
  padding: 0 2px;
}

.warn {
  background: red;
  color: white;
}

.shake {
  animation-name: shake;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  outline: none;
  color: red !important;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(20deg);
  }
  66% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.orderCollapse {
  width: 45px;
  height: 45px;
  overflow: hidden;
  transition: 0.5s;
  border-radius: 50%;
  right: 10px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0143771), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0119221), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.01), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.00807786), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.00562291);
  top: 60px;
}
.orderCollapse #listShower {
  margin-right: 10px;
  text-shadow: 0.25px 0.25px 1px grey;
  outline: none;
}
.orderCollapse #orderFooter {
  position: unset;
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 0.85rem;
  }

  body {
    background: #e9faff;
  }

  #mainGroup .filterable {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0.5rem !important;
  }
  #mainGroup .filterable img {
    height: 100px;
  }

  .add {
    width: 80px;
  }

  .remuve {
    left: 5px;
  }

  .edit {
    left: 30px;
  }

  .orderSection {
    width: 100%;
  }

  .orderCollapse {
    width: 45px;
  }
}
#sign {
  background: #e9faff;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#form {
  background: white;
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
}

.message {
  background: #fcc2c2;
  border: 1px solid red;
  border-radius: 0.25rem;
}

/*# sourceMappingURL=style.css.map */
